*{
    margin: 0;
    padding: 0;

}
.nav-part{
    max-width: 1250px;
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo-part{
    max-width: 50%;
    min-height: 80px;
    display: flex;
    gap: 15px;
    align-items: center;
   
}
.logo-part{
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.span-travel{
    color: #FE5400;
}
.menu-part{
    max-width: 50%;
    min-height: 80px;
    text-align: center;
   
}
.menu-section{
    display: flex;
   align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.menu-section a{
    text-decoration: none;
    margin-top: 30px;
    color: black;
    
    
}
.span-home{
    color: #FE5400;
}

/* ------------------------------------------Banner section------------------------------ */
.banner-section {
    max-width: 1250px;
    /* border: 30px solid red; */
    margin: 0 auto;
    height: 600px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin-top: 50px;
}
.banner-description {
    margin-top: 100px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.banner-description h1 {
    font-size: 4.5rem;
    margin-bottom: 30px;
    padding-top: 120px;
}
.banner-description p {
    max-width: 80%;
    margin: 0 auto;
    line-height: 29px;
    margin-bottom: 30px;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0,0,0,.5);
    max-width: 70%;
    margin: 0 auto;

}
.input-field input {
    padding: 12px 0px 19px 1px;
    border-radius: 10px;
    font-size: 1rem;

}

.btn-primay {
    padding: 12px 0px 19px 1px;
    padding: 5px;
    border-radius: 10px;
    padding: 20px 56px 13px 44px;
    background-color: #FE5400;
    font-size: 1rem;
    text-align: center;
    color: white;
    border: none;
}

/* ----------------------------------------------------------Populer section start here---------------------- */
.popular-section{

    max-width: 1250px;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.popular-description-part{
    max-width: 50%;
    min-height: 600px;

    
}

.popular-description-part h1 {
    font-size: 2.8rem;
    margin-bottom: 31px;
}
.popular-description-part p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-align: justify;
    margin-bottom: 31px;
}
.ul-list {
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-left: 21px;
    text-align: justify;
}
.ul-list li{
    margin-bottom: 32px;
}
.btn-popular {
    padding: 16px 48px 13px 31px;
    border-radius: 10px;
    background-color: #FE5400;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.popular-image-part{
    max-width: 50%;
    margin: 0 auto;
    min-height: 600px;

}
.popular-image-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 26px;
    border-radius: 10px;

}


/* ---------------------------------------Mobile Device Responsive------------- */

@media screen and (max-width:576px){
    .nav-part{
        flex-direction: column;
        max-width: 100%;
    }
    .logo-part{
        flex-direction: column;
        max-width: 100%;
        font-size: 1.5rem;
    }
    .menu-section{
        flex-direction: column;
    }
    .menu-part{
        max-width: 100%;
    }

    .input-field{
        flex-direction: column;
    }
    .banner-description{
        margin-top: 80px;
    }
    .banner-description h1 {
        font-size: 1.8rem;
        margin-bottom: -8px;
        padding-top: 14px;
    }
    .banner-description p{
        max-width: 100%;
        text-align: center;
    }

    .popular-section{
        flex-direction: column;
        margin: 20px;

    }

    .popular-description-part{
        max-width: 100%;
    }
    .popular-image-part {
        max-width: 99%;
        margin-left: -27px;
        margin-top: 21px;
    }
}
